.landing {
  height: 100vh;
  background-color: mediumturquoise;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

a.link-tab {
  background-color: steelblue;
  width: 100%;
  height: 50%;
  margin: 10px;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
  text-decoration: none;
  color: aliceblue;
  font-size: 32px;
  font-weight: bold;
  box-shadow: 5px 5px 1px teal;
}

a:hover {
  background-color: cadetblue;
  box-shadow: 5px 5px 1px darkcyan;
}
