.container {
  text-align: center;
  margin: 0;
}

.link-button {
  text-decoration: none;
  font-weight: bold;
  margin: 10px auto;
  display: block;
  width: 20%;
  height: 100%;
  color: black;
  background-color: white;
  box-shadow: 2px 2px 1px grey;
}

.link-button:hover {
  background-color: darkgray;
  box-shadow: 3px 3px 1px gray;
}
