.container {
  text-align: center;
  margin: 0;
}

.link-button {
  text-decoration: none;
  margin: 0;
  border: 1px solid grey;
  background-color: grey;
  color: white;
  width: 50%;
  font-weight: bold;
  box-shadow: 0px 2px 6px 0px rgba(34, 34, 34, 0.4);
}

.link-button :hover {
  background-color: black;
}
